*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color:#333;
    --gradient-color-01:#f5f7fa;
    --gradient-color-02:#c3cfe2;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg,var(--gradient-color-01) , var(--gradient-color-02));
}
h1 {
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    color: var(--color);
    border: 2px solid var(--color);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1:hover {
    color: #007BFF;
    border-color: #007BFF;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2);
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}
.container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 /* Responsive Design */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1201px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

