* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color: #ff6f91;
  --bg-color: #555555;
  --gradient-color-01: #80b0ff;
  /* --gradient-color-02:#fad0c4; */
  --gradient-color-02: #c3cfe2;
  --button-color: #3c4646;
  --button-bg: #718686;
  --button-color-hover: #fff;
  --button-bg-hover: #242021;
}
body {
  /* height: 100vh; */
  background: var(--bg-color);
}

.font {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  max-width: 1200px;
  padding: 10px 20px;
  max-width: 100vw;
  /* height: 100vh; */
  margin: 0 auto;
  transition: transform 0.3s ease;
  background: linear-gradient(
    to bottom,
    var(--gradient-color-01),
    var(--gradient-color-02)
  );
  /* background-image: url('pics/hassan-03.jpg');
    background-size: auto 100%;
    background-position: top;
    background-repeat: no-repeat; */
}
.container .wish {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* heading styles */
.container .wish h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
.type {
  font-weight: bold;
  color: var(--color);
}
.container .wish .type .typewriter {
  display: inline-block;
  /* border-right: 0.15em solid #333; */
  margin-bottom: -12px;
  /* Hide the text initially */
  width: 0;
  overflow: hidden;
  /* Prevent text from wrapping */
  white-space: nowrap;
  /* Use a monospaced font for consistent character width */
  /* Apply the typing and pulsing animations */
  /* 'Hassan Ali...' has 13 characters, including spaces and dots. */
  animation:
    typing 2.6s steps(13, end) forwards,
    pulse 1.2s infinite;

  /* Make the pulsing animation start after the typing is finished */
  animation-delay: 0s, 2.6s;
}
/* Typing keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Ellipsis pulsing keyframes */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* paragraph styles */
.container .wish .slide-down-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  max-width: 600px;
  animation: slide-down 1s ease-out;
}
@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*button styles*/
.container .wish .buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
.container .wish .buttons .button {
  font-size: 1.2rem;
  font-weight: 1000;
  font-display: block;
  background-color: var(--button-bg);
  color: var(--button-color);
  padding: 10px 20px;
  border: 2px solid var(--button-color);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.6s ease;
}
.container .wish .buttons .button:hover {
  color: var(--button-color-hover);
  background-color: var(--button-bg-hover);
}

/* image styles */

.container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding: 10px;
}
.container .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

@media (max-width: 786px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
